/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
* {
  box-sizing: border-box;
}

body {
  background: linear-gradient(#2a2b2c, #1b6be4df);
  color: #ffffff;
}

h2 {
  font-size: 3em;
}
h3 {
  display: block;
}

/******************************************
/* LAYOUT
/*******************************************/
/* img {
  display: block;
  margin: 0 auto;
} */

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
