* {
  box-sizing: border-box;
}

body {
  background: url(../img/spiritBG.jpeg) no-repeat center/cover;
  height: 100vh;
}

h1,
h3 {
  text-align: center;
  font-size: 1.7em;
  color: aliceblue;
}

img {
  display: block;
  margin: 0 auto;
  padding: 1em;
}
